<h1>User</h1>
<dl>
  <dt>Login</dt>
  <dd><%= @user.login %></dd>
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
</dl>

<% if current_user == @user %>
  <p><%= link_to "Edit my profile", edit_user_path(@user) %>
<% end %>